body {
    color: #333;
    text-align: center;
    font-family: Arial;
}

#header {
    background:rgb(0, 80, 67);
    box-shadow: 0px 5px 30px 0px rgb(31, 29, 29);
    color: white;
    font-weight: bold;
    marging: 0;
    padding: 0.5em;
}
#header #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}